<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="14" android:versionName="1.1.11" package="com.sgn.speechly" android:installLocation="auto" xmlns:tools="http://schemas.android.com/tools">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:extractNativeLibs="true" android:label="Tala" android:requestLegacyExternalStorage="true" android:allowBackup="false">
		<activity android:name="crc64913e55339311864f.MsalActivity" android:exported="true" tools:node="merge">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="auth" />
				<data android:scheme="msalc6380b83-1161-4764-9687-0dcdf66c8027" />
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!--<uses-permission android:name="android.permission.BROADCAST_STICKY"/>-->
</manifest>